spring.cloud.discovery.client

server:
  port: 0
eureka:
  client:
    register-with-eureka: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVERS:https://app-referencia}
  #instance:
  #  instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${server.port}}
spring:
  application:
    name: user-microservice
debug: true
hystrix:
  metrics:
    enabled: true


