eureka:
  client:
    register-with-eureka: true
    serviceUrl:
      defaultZone: ${EUREKA_SERVERS:http://localhost:8756}
  instance:
    instance-id: ${Host}:${spring.application.name}:${server.port}
spring:
  application:
    name: user-microservice
debug: true
hystrix:
  metrics:
    enabled: true


